<ng-container *ngIf="decodedMessage$ | async as markers">
  <div class="map-container" [ngClass]="{'collapsed': mapCollapsed}">
    <app-locator-map [markers]="markers"></app-locator-map>
  </div>
  <button class="map-toggle" (click)="toggleMap()">
    <mat-icon *ngIf="mapCollapsed; else expandedIcon">keyboard_double_arrow_down</mat-icon>
    <ng-template #expandedIcon>
      <mat-icon>keyboard_double_arrow_up</mat-icon>
    </ng-template>
  </button>

  <div
    class="location-list-container"
    *ngIf="locationList$ | async as locationList"
  >
    <ng-container *ngIf="locationList.length > 0; else noData">
      <app-location-list [locationList]="locationList"></app-location-list>
    </ng-container>
  </div>

  <ng-template #noData>
    <div class="no-data-view">
      <div class="no-data-title">Begin your journey!</div>
      <div class="no-data-subtitle">
        Mark your location by clicking on the map
      </div>
    </div>
  </ng-template>
</ng-container>
