.title-container {
  display: flex;
  flex-direction: row;
  align-items: center;

  .title {
    font-size: 24px;
    flex: 1;

    @media (min-width: 768px) {
      margin-bottom: 16px;
    }
  }

  .wiki {
    margin: 0 24px;
  }
}

.content-body {
  display: flex;
  flex-direction: row;
  gap: 40px;
  align-items: flex-start;

  @media (max-width: 768px) {
    flex-direction: column;
    gap: 24px;
  }

  .image {
    width: 300px;
    height: 100%;
    object-fit: cover;
    box-shadow: 0 6px 12px #797878;
    border-radius: 12px;
    object-position: top;

    @media (max-width: 768px) {
      width: 100%;
      height: 320px;
    }
  }

  .content {
    h3 {
      margin: 4px 0;
      @media (max-width: 480px) {
        font-size: 16px;
      }
    }

    p {
      margin: 4px 0;
      @media (max-width: 480px) {
        font-size: 14px;
      }
    }

    .short-content {
      display: grid;
      gap: 16px;

      @media (min-width: 1150px) {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      }

      @media (min-width: 1024px) and (max-width: 1149px) {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      }

      @media (min-width: 768px) and (max-width: 1023px) {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
      }

      @media (min-width: 600px) and (max-width: 767px) {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
      }

      @media (min-width: 450px) and (max-width: 599px) {
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
      }

      @media (max-width: 449px) {
        gap: 0;
      }
    }
  }
}
