<mat-card class="mat-card">
    <mat-card-header>
      <div mat-card-avatar class="avatar">
        <img [src]="'assets/icons/' + (availableIcons.includes(location.id) ? location.id : 'icon-generic-character') + '.svg'" alt="Chewbacca">
      </div>
      <mat-card-title class="mat-card-title">{{location.name}}</mat-card-title>
      <mat-card-subtitle>{{location.species | titlecase}}</mat-card-subtitle>
      <span class="spacer"></span>
      <div class="id">
        <span>{{id}}</span>
      </div>
    </mat-card-header>
    
    <div class="image-container">
      <img class="mat-card-image" [src]="location.image" alt="image-{{location.id}}">
    </div>
    
    <mat-card-content>
      <div class="main-info-section">
        <div class="main-info-row">
          <div class="main-info-item" matTooltip="Height">
            <mat-icon>straighten</mat-icon>
            <span>{{location.height}} m</span>
          </div>
          <div class="main-info-item" matTooltip="Distance">
            <mat-icon>near_me</mat-icon>
            <span [roundDistance]="location.distance"></span>
          </div>
        </div>
        
        <div class="main-info-row">
          <div class="main-info-item" matTooltip="Home World">
            <mat-icon>location_on</mat-icon>
            <span>
              <span *ngIf="location.homeworld; else noHomeworld">
                {{ location.homeworld | sentenceCase }}
              </span>
            </span>            
            <ng-template #noHomeworld>-</ng-template>
          </div>
          <div class="main-info-item" matTooltip="Affiliations">
            <mat-icon>groups</mat-icon>
            <span>{{ location.affiliations?.length }} Affiliations</span>
          </div>
        </div>
      </div>
    </mat-card-content>
    
    <button mat-button class="show-more-btn" (click)="toggleExpanded()">
      <span>{{ isExpanded ? 'Less info' : 'More info' }}</span>
      <mat-icon iconPositionEnd>{{ isExpanded ? 'expand_less' : 'expand_more' }}</mat-icon>
    </button>
    
    <mat-card-content class="expanded-content" *ngIf="isExpanded">
      <h4 class="expanded-title">Affiliations:</h4>
      <ul class="expanded-list">
        <ng-container *ngFor="let af of location.affiliations">
          <li>{{af}}</li>
        </ng-container>
      </ul>      
    </mat-card-content>

    <mat-card-actions class="card-actions">
      <button class="secondary" mat-stroked-button (click)="handleMoreClick()">
        <mat-icon>map</mat-icon>
        Details
      </button>
      <button class="primary" mat-raised-button color="primary" mat-button (click)="handleMarkOnMap()">
        <mat-icon>info</mat-icon>
        Mark on Map  </button>
    </mat-card-actions>
  </mat-card>